<div id="css-ebook" class="ff">
  <h3 class="ff-title">
    Learn CSS with my ebook
  </h3>
  <p class="ff-content">
    This ebook is a step by step guide in which I teach you how to build your own personal webpage from scratch, line by line, with HTML5, CSS3, and even JS.
  </p>
  <a class="ff-cover" href="https://jgthms.com/css-in-44-minutes-ebook">
    <img src="https://jgthms.com/empty.png" srcset="https://jgthms.com/books/css44/cover/css-in-44-minutes-book-cover.png 1x,
          https://jgthms.com/books/css44/cover/css-in-44-minutes-book-cover@2x.png 2x,
          https://jgthms.com/books/css44/cover/css-in-44-minutes-book-cover@3x.png 3x,
          https://jgthms.com/books/css44/cover/css-in-44-minutes-book-cover@4x.png 4x" data-thumbnail="https://jgthms.com/@2x.png" data-original="https://jgthms.com/@2x.png" alt="CSS in 44 minutes book cover" width="252" height="352">
  </a>
  <div class="ff-cta">
    <a href="https://jgthms.com/css-in-44-minutes-ebook">
      Get it now
    </a>
  </div>
</div>
