<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title | strip_html }} - Tutorial Gratuito para aprender HTML y CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://marksheet.io">
  <meta property="og:title" content="A free tutorial to learn HTML and CSS">
  <meta property="og:description" content="MarkSheet is a free tutorial to learn HTML and CSS. It's short (just as long as a 50 page book), simple (for everyone: beginners, designers, developers), and free (as in 'free beer' and 'free speech'). It consists of 50 lessons across 4 chapters, covering the Web, HTML5, CSS3, and Sass.">
  <meta property="og:site_name" content="MarkSheet">
  <meta property="og:image" content="http://marksheet.io/images/marksheet-facebook.png">
  <meta property="fb:app_id" content="470761896424893">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" />
  <![endif]-->
</head>
