<nav id="menu" class="menu">
  {% for post in site.posts reversed %}
    {% capture currentmonth %}{{ post.date | date: "%m" }}{% endcapture %}
    {% if currentmonth != month %}
      {% unless forloop.first %}</ol></section>{% endunless %}
      <section class="menu-section-{{ post.section }}">
        <p>
          <a href="{{ post.url }}">
            <em>{{currentmonth}}</em>
            {{ post.title | strip_html }}
          </a>
        </p>
        <ol>
      {% capture month %}{{currentmonth}}{% endcapture %} 
    {% else %}
      <li>
        <a href="{{ post.url }}" {%if page.url == post.url %} class="active"{% endif %}>
          {{ post.title }}
        </a>
      </li>
    {% endif %}
    {% if forloop.last %}
      </ol></section>
    {% endif %}
  {% endfor %}
</nav>
