<section id="newsletter" class="page-newsletter">
  <div class="container">
    <div class="page-newsletter-heading">
      <span class="icons">
        <i class="fa fa-television"></i>
        <i class="fa fa-play-circle"></i>
      </span>
      <h3>
        MarkSheet <strong>Video</strong> tutorials are coming!
      </h3>
      <p>
        <strong>Sign up</strong> for the MarkSheet <strong>newsletter</strong> to get notified!
      </p>
    </div>

    <div class="page-newsletter-form">
      <form action="https://bbxdesign.us3.list-manage.com/subscribe/post?u=b43b93fe633f0560b2a72a69c&amp;id=52585e8803" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="page-newsletter-group">
            <input type="email" value="" name="EMAIL" class="page-newsletter-input required email" id="mce-EMAIL" placeholder="email address" required>
            <i class="fa fa-envelope"></i>
            <button name="subscribe" id="mc-embedded-subscribe" class="page-newsletter-button">
              Subscribe
            </button>
          </div>
          <div id="mce-responses">
            <div class="notification is-danger response" id="mce-error-response" style="display:none"></div>
            <div class="notification is-success response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_b43b93fe633f0560b2a72a69c_52585e8803" tabindex="-1" value="">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
