<section id="newsletter" class="page-newsletter">
  <div class="container">
    <div class="page-newsletter-heading">
      <span class="icons">
        <i class="fa fa-television"></i>
        <i class="fa fa-play-circle"></i>
      </span>
      <h3>
        MarkSheet <strong>Video</strong> tutorials are coming!
      </h3>
      <p>
        <strong>Sign up</strong> for the MarkSheet <strong>newsletter</strong> to get notified!
      </p>
    </div>

    <div class="page-newsletter-form">
      <form action="https://api.moonmail.io//lists/citirp4aw000001ozgpmfoyub/subscribe" method="post" id="mm-embedded-form" novalidate="">
        <input type="hidden" name="u" value="Z29vZ2xlLW9hdXRoMnwxMDA5MTUyMjkyODA2NTg2MTA2ODY">
        <div class="page-newsletter-group">
          <div class="mm-field">
            <input class="page-newsletter-input" type="email" id="mm-email" name="email" required="" placeholder="Email address">
            <i class="fa fa-envelope"></i>
          </div>
          <button class="page-newsletter-button" type="submit">Subscribe</button>
        </form>
      </form>
    </div>
  </div>
</section>
