.container
  +clearfix
  margin: 0 auto
  max-width: 960px
  position: relative

.hello
  +replace(url("/images/marksheet-hello.png"), 210px, 192px)
  margin: 0 auto
  +from(600px)
    +replace(url("/images/marksheet-hello.png"), 420px, 384px)

.logo
  +replace(url("/images/marksheet-logo.png"), 230px, 48px)
  float: left
  +mobile
    background-position: left center
    width: 48px
