.container
  +clearfix
  margin: 0 auto
  max-width: 960px
  position: relative

.hello
  +replace(url("/images/marksheet-hello.png"), 210px, 192px)
  margin: 0 auto
  +from(600px)
    +replace(url("/images/marksheet-hello.png"), 420px, 384px)

.icon
  +replace(url("/images/marksheet-icon.png"), 38px, 38px)
  float: left
