// Original

// eda463
// ed6c63
// cc6699
// c33b6b

$hero-1: #f4a35b
$hero-2: #f4655b
$hero-3: #d16098
$hero-4: #ca3469

$web: #6ecd56
$html5: #f16529
$css3: #33a9dc
$sass: #c69

$red: crimson
$green: $web
$blue: $css3

$yellow: hsl(48, 86%, 71%)
$light-yellow: hsl(48, 96%, 86%)
$dark-yellow: hsl(48, 71%, 48%)

$background: #f5f7f9
$border: #ebeff5
$border-dark: #d3d6db
$dark: #273032
$link: $hero-3
$visited: #aeb1b5
$text: #69707a
$light: #aeb1b5
$strong: #222325

$small: 0.875rem

$sans-serif: "Source Sans Pro", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif
$monospace: "Source Code Pro", "Inconsolata", monospace

.menu
  z-index: 9002

.navigation
  z-index: 9001

.overlay
  z-index: 9000

.header
  z-index: 200

.table-of-contents
  z-index: 100
